<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
"[(${attendee.firstName + ' ' + attendee.lastName})]" has accepted the invitation for the event "[(${event.title})]".
<p style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><a
        th:href="${url}"
        class="btn btn-primary"
        style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;text-decoration: none;color: #ffffff;padding: 10px 15px;display: inline-block;border-radius: 5px;background: #17bebb;">approve</a>
</p>
</html>
