<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
You are invited to "[(${event.title})]" on [(${event.date})] at [(${event.startTime})].
<p style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><a
        th:href="${url}+'/accept'"
        class="btn btn-primary"
        style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;text-decoration: none;color: #ffffff;padding: 10px 15px;display: inline-block;border-radius: 5px;background: #17bebb;">Accept</a>
</p>
<p th:if="${decline}" style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><a
        th:href="${url}+'/decline'"
        class="btn btn-primary"
        style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;text-decoration: none;color: #ffffff;padding: 10px 15px;display: inline-block;border-radius: 5px;background: #17bebb;">Decline</a>
</p>
</html>