<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<p style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <a th:href="${url}+'/accept'" class="btn btn-primary"
       style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;text-decoration: none;color: #ffffff;padding: 10px 15px;display: inline-block;border-radius: 5px;background: #17bebb;">Accept</a>
</p>
<p th:if="${decline}" style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <a th:href="${url}+'/decline'" class="btn btn-primary"
       style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;text-decoration: none;color: #ffffff;padding: 10px 15px;display: inline-block;border-radius: 5px;background: #17bebb;">Decline</a>
</p>
[(${event.description})]
<div style="position:fixed;left:0;bottom:0;width:100%;"><p style="text-align:center;"><span style="font-weight: bold">Disclaimer: </span>
    FBN Securities Inc. archives and reviews both outgoing and incoming electronic correspondence. It may be required to
    be produced to the SEC or to other regulators in a criminal investigation or in civil litigation. This is not an
    offer or solicitation of an offer to buy or sell any security investment or other product. Any opinion or estimate
    constitutes our best judgment as of this date and is subject to change without notice. E-mail transmission cannot be
    guaranteed to be secure or error-free. The information in this e-mail, and any attachment therein, is confidential
    and for use by the addressee only. If you are not the intended recipient, please return the e-mail to the sender and
    delete it from your computer. If you would like to unsubscribe from this, or any FBN email, please notify us.</p>
</div>
<img th:src="${trackUrl}" src="../copyright.png" style="display: inline-block" title="©" alt="©" height="1px"
     width="1px"/>
</body>
</html>